@charset "utf-8";
/* CSS Document */
img { border:0; }
h1, h2, h3, h4, h5, h6, p { margin:0; padding:0; }
header, footer, aside, article, section, nav, dl, dt, dd { display:block; }
ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input, dl, dd, dt { margin:0; padding:0; }
.clear { clear:both; }
a { text-decoration:none; outline:none; }
 
.bold { font-weight:bold; }
.aright { text-align:right; }
.red14 { color:#FF0000; font-size:14px; font-weight:bold; }
.error_msg { color:#FF0000; text-align:center; }
input[type=text], input[type=password], select { width:250px; border:1px solid #999999; padding:3px 0; }
input[type=submit] { width:100px; height:35px; border:none; border-radius:5px; float:none; }
input[type=submit]:hover { color:#FF0000; cursor:pointer; }
textarea { width:300px; height:100px; border:1px solid #999999; padding:3px 0; }

body {
    background: url("../images/bg-login.jpg") repeat scroll center top;
    margin: 0;font-size:14px;
    padding: 0;font-family:"Open Sans",sans-serif;
}
span.error { color:#FF0000; display:block; }
#wrapbg {  width:986px; margin:0 auto; }
#wrapper { width:980px; margin:0 auto; }
#warp_inner { width:970px; margin:0 auto; }
header { width:100%; margin:0 auto; height:108px; }
#logo {  background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    height: 83px;
    margin: 0 auto;
    padding: 3px;
    width: 547px; }
#user_welcome { width:432px; height:100px; float:right; text-align:right; position:relative; background:url(../images/adin-right.jpg) center top no-repeat;margin:37px 0 0;}
#user_welcome .welcome { position:absolute;  left:305px;color:#fff; font:bold 12px Arial; top:132px;}
#user_welcome .welcome .name { color:#ff7675; font-weight:bold; }
#user_welcome .venture { position:absolute; bottom:10px; left:250px; font:bold 12px Arial; }
#user_welcome .venture .name { color:#ca2625; font-weight:bold; }

nav { background:#314558; width:980px; height:38px; margin:0 auto; }
nav ul { list-style: none outside none; margin: 0; padding: 0; }
nav ul li {  float: left; margin:0 1px 0;}
nav ul li.navselect { background-color:#eee; }
nav ul li.navselect a{color:#000;text-shadow:none;} 
nav ul li a:hover{background:#eee;} 
nav ul li img { }
nav ul li a { color: #FFFFFF; display: inline-block; font-size: 13px; font-weight: bold; line-height: 37px; padding: 0 18px; text-decoration: none; text-transform: uppercase; text-shadow: 0 1px 1px #000000; transition: all 0.3s ease-in-out 0s; }
nav ul li:first-child { border-left: 0 none; }
nav ul li:last-child { border-right: 0 none; }
nav ul li ul { background: none repeat scroll 0 0 #FFFFFF; box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.4); margin: 0; padding: 10px 0; position: absolute; visibility: hidden; width: 200px; z-index: 1001; }
nav ul li ul li { border: 0 none; float: inherit; }
nav ul li ul li a { color: #666666; display: block; font-weight: normal; letter-spacing: normal; line-height: 22px; padding: 0 20px; text-transform: inherit; }
nav ul li:hover { background:#eee; color: #FFF; text-decoration: none; }
nav ul li:hover a { color: #FFF; }
nav ul li a:hover { color: #300; text-decoration: none; text-shadow: 0 1px 1px #fff; transition: all 0.3s ease-in-out 0s; }
nav ul li:hover ul { visibility: visible; }
nav ul li:hover ul li a:hover { color: #B50405; }
nav ul li .home { background:url(../images/home_icon.jpg) center top no-repeat; height:32px; width:38px; }
#banner { width:979px; height:349px; margin:0 auto; margin-left:1px; }
#banner_bottom { background:url(../images/ban_bottom.jpg) center top no-repeat; width:979px; height:11px; margin-left:1px; }
#scrolling { width:980px; height:36px; margin:0 auto; background:url(../images/scroling_bg.jpg) center top repeat-x; margin-top:1px; }
.booknow { width:265px; height:36px; float:left; }
.mar { width:710px; float:left; height:29px; padding:8px 0 0 0;  color:#000; font-size:17px; }
#bar { width:980px; height:auto; margin:0 0 0 2px; }
section { width:980px; margin:0 auto; }
#bar h1 { font-weight:normal; color:#333; text-align:center; margin:0 13px;  font-size:30px; }
#bar h1 span { color: #343434; }
h2 { font-weight:bold; color:#ba0b0b; font-size:18px; }

#bar img { float:right; margin:0 16px; }
article { background:#fff url(../images/cnt_bg.jpg) center top repeat-x; border:1px solid #fff;  margin:0 auto; margin-top:0; padding:10px;   }
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
 
    line-height: 1.42857;
    padding: 8px;
    vertical-align: top;
}.table-striped > tbody > tr:nth-child(2n+1) {
    background-color: #f9f9f9;
}
.home_img { float:left; margin:5px 10px 0 0 }
article p {  font-size:13px; color:#000; text-align:justify; line-height:20px; }
#cnt_bottom { background:url(../images/ban_bottom.jpg) center top no-repeat; width:926px; height:11px; margin-left:1px; margin:10px 0; }
#bottom_section { width:933px; margin:0 auto; }
#gallery { width:530px; height:auto; float:left; }
#gallery h2 { font-weight:normal; color:#ba0b0b; float:left; margin:0 13px; }
#p_f { width:400px; float:left; }
.scroll_box { width:500px; height:137px; background:#f5f5f5; border:1px solid #d4dde2; border-radius:5px; padding:10px; margin:5px 0; }
#p_f h2 {  font-weight:normal; color:#ba0b0b; float:left; margin:0 13px; }
#p_f h2 span { color:#333; }
.pf_box { width:383px; height:137px; background:#f5f5f5; border:1px solid #d4dde2; border-radius:5px; padding:10px; margin:5px 0; }
.pf_box img { border:1px solid #ccc; padding:2px; width:110px; height:75px; margin:4px; }
.pf_box p { float:left; font-weight:normal; color:#096bb6; float:left; margin:0 23px; font-size:16px; }
footer {  height:30px; padding:10px 0 6px 0; margin:10px auto 0; background:url(../images/footerbg.jpg) center top repeat-x; color:#fff; }
footer li { list-style-type:none; float:left;padding:0 10px 0 08px; border-left:1px solid #fff; }
footer li:first-child { border:none; }
footer li a { color:#fff; text-decoration:none; font-size:13px; }
footer li a:hover { text-decoration:underline; }
footer p {  font-size: 13px;color:#333; margin: 0 auto; text-align: center; }
#warp_inner  h1{font-size:22px;text-align:center;padding:50px 0;margin:0;}

#login { margin:50px auto; padding:0; width:500px; }
#addpurchase { margin:20px auto; padding:0; width:550px; float:left; }
#purchase_list { margin:0 auto; padding:10px;    }
#purchase_list table { width:100%; border-top:1px solid #CCCCCC;  border-left:1px solid #CCCCCC; }
#purchase_list table td { line-height:20px; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:5px; font-size:14px; }
#purchase_list table th { line-height:20px; height:35px; font-weight:bold; border-right:1px solid #CCCCCC; border-bottom:1px solid #CCCCCC; padding:0px; }
#purchase_list table table { width:100%; border-top:none; border-left:none; }
#purchase_list table table td { border-right:1px solid #CCCCCC; padding:5px; border-bottom:none; }
#purchase_list a { text-decoration:none; color:#007ec1; }
#purchase_list a:hover { color:#FF0000; text-decoration:underline; }

#purchase_left { width:170px; margin:20px 10px 0 0; float:left; background:#D8D1E9;  border-radius:5px; }
#purchase_left ul { margin:0; padding:4px 0 0 0; }
 .sec1{padding:10px;}
#purchase_left ul li { margin:0; padding:3px 0 0 9px; list-style-type:none; line-height:22px;border-bottom:1px solid #cbc6cc; }
#purchase_left ul li strong { font-weight:bold; text-decoration:underline; display:block; margin:20px 0 5px 0; font-size:14px; }
#purchase_left ul li a { color:#333333;font-weight:bold;text-decoration:none; text-decoration:none; }#purchase_left ul li:hover{background:#eee;}
#purchase_left ul li a:hover { color:#c00;}.btn{ background: #3f97bb;
    border-radius: 5px;
    float: right;
    margin: 0 0 4px;
    padding: 10px;}.btn a{color:#fff !important;font-weight:bold;}.btn:hover{background: #c00;}

.search { margin:20px; }
#search {
   
    background: url("../images/search_bggg.jpg") repeat-x scroll center top #FFF;
    border-color: #969eb5;
    border-image: none;
    border-radius: 5px 0 0 5px;
    border-style: solid none solid solid;
    border-width: 1px medium 1px 1px;
    box-shadow: 1px 0 1px #ccc;
    float: left;
    height: 27px;
    margin: 0;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
    width: 250px;
}
#search input {
    background: none;
    border: none;
    color: #000;
    font: bold 12px/20px Arial,Helvetica,sans-serif;
    margin: 0;
    padding: 4px;
    width: 240px;
}
.pagenation { width:100%; margin:20px auto; padding:0px; text-align:center; }
.pagenation a { margin:0 5px; padding:2px 10px; background:#CCCCCC; border:1px solid #999999; border-radius:5px; font-weight:bold; color:#000; } 
.pagenation a strong { font-weight:bold; }
.pagenation span.sel {  margin:0 5px; padding:2px 10px; background:#CCCCCC; border:1px solid #999999; border-radius:5px; font-weight:bold; }

.balance { margin:5px 0; padding:0; float:left; width:233px; font:bold 12px Arial, Helvetica, sans-serif; color:#F00; }
.balance span { font:bold 12px Arial, Helvetica, sans-serif; color:#000; }

.viewall_link { float:right; width:200px; text-align:right; margin:0 20px 0 0; }
.viewall_link a { color:#333333; text-decoration:underline; } 
.viewall_link a:hover { text-decoration:none; }
.viewall_link_left { float:left; width:450px; }
p.viewall { text-align:right; margin:10px; }
p.viewall a { color:#FF0000 !important; font-weight:bold; }

